@model WarehouseMonitoring.Models.Harvest

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Harvests </h2>

<h3>Are you sure you want to delete this?</h3>
<div class="form-wrapper">
    <table style="text-align:left;" class="d-flex justify-content-center">
        <tr>
            <td class="fw" style="padding-right: 30px">@Html.DisplayNameFor(model => model.CroupType)</td>
            <td style="text-align:center">@Html.DisplayFor(model => model.CroupType.Name)</td>
        </tr>
         <tr>
            <td class="fw" style="padding-right: 30px">@Html.DisplayNameFor(model => model.Room)</td>
            <td style="text-align:center">@Html.DisplayFor(model => model.Room.Name)</td>
        <tr>
            <tr>
            <td class="fw" style="padding-right: 30px">@Html.DisplayNameFor(model => model.DateOfStorage)</td>
            <td style="text-align:center">@Html.DisplayFor(model => model.DateOfStorage)</td>
        </tr>
            <tr>
            <td class="fw" style="padding-right: 30px">@Html.DisplayNameFor(model => model.Quantity)</td>
            <td style="text-align:center">@Html.DisplayFor(model => model.Quantity)</td>
        </tr>
        <tr class="d-flex justify-content-center">
<td>
                 <form asp-action="Delete">
                     <input type="submit" value="Delete" class="btn deletebtn " asp-action="Delete" />
                 </form> 
             </td>    
        
        
    </table>
 </div>

    
    
        <div class="d-flex justify-content-center">
                <a asp-action="Index" class="btn btn-info2" >Back</a>
            </div>
