@model WarehouseMonitoring.Models.CroupType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CroupType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinStorageLife)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinStorageLife)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxStorageLife)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxStorageLife)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreezingPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreezingPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinHumidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinHumidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxHumidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxHumidity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
